.logo-icon {
  position: relative;
  width: 64px;
  height: 42px;
  margin-top: 1px;
  margin-right: 4px;
}

.logo-book {
  position: absolute;
  width: 32px;
  height: 36px;
  background: #1f6f5b;
  top: 5px;
  transform-origin: top;
}

.logo-book-left {
  left: 0;
  transform: skewY(15deg);
}

.logo-book-right {
  right: 0;
  transform: skewY(-15deg);
}

.logo-icon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 50%;
  width: 1px;
  height: 26px;
  background: rgba(255, 255, 255, 0.22);
  transform: translateX(-50%);
  z-index: 1;
}

.logo-icon::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 15px;
  height: 12px;
  background: #FF9257;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.logo-diamond {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffffff;
  top: calc(5px + 18px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
  border-radius: 2px;
}